.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 20px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
