[data-theme="dark"] {
   --color-primary: #60a5fa;
   --color-secondary: #a78bfa;
   --color-tertiary: #34d399;
   --color-quaternary: #fbbf24;
   --color-quinary: #f87171;
   --color-senary: #22d3ee;
   --color-septenary: #f472b6;
   --color-octonary: #fb923c;
   --color-nonary: #a3e635;
   --color-denary: #2dd4bf;
   --color-eleven: #111827;
   --color-twelve: #1f2937;
   --color-thirteen: #f9fafb;
   --color-fourteen: #d1d5db;
   --color-fifteen: #374151;
}
