<div class="wrapper">
   <AngularIcon width="180"></AngularIcon>

   <nav class="nav-group">
      <button
         (click)="navigate(ROUTE_CONFIGS.HOME.fullPath)"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
         [routerLink]="ROUTE_CONFIGS.HOME.fullPath"
      >
         {{ "header.home" | translate }}
      </button>
      <button
         (click)="navigate(ROUTE_CONFIGS.ABOUT.fullPath)"
         routerLinkActive="active"
         [routerLink]="ROUTE_CONFIGS.ABOUT.fullPath"
      >
         {{ "header.about" | translate }}
      </button>
      <button [ngClass]="{ active: isRouteActive(ROUTE_CONFIGS.PRODUCT_DETAIL.fullPath) }" class="cursor-default!">
         {{ "header.product_detail" | translate : { productId: productSelected()?.id ?? "" } }}
      </button>

      <select (change)="changeLang($event)">
         <option value="vi">{{ "translation.vietnam" | translate }}</option>
         <option value="en">{{ "translation.english" | translate }}</option>
      </select>
   </nav>
</div>
